*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
} 
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color:#424242;
}

.container{
    width: 60%;
    height:100vh;
    border: 1px solid gray;
    margin:0 auto;
    text-align: center;
    background-color: #e7a61a;
    box-shadow: -2px 2px 10px 3px rgba(8,7,8,1);
}

.container h1{
    padding-top:30px;
    margin-top:30px;
    margin-bottom: 30px;
}

.container p{
  
    padding:20px 20px;
    text-align: left;
}